# Configuration file

server {
    # Players in this list have access to the Journeymap's Server Admin Panel
    # Add users by name or UUID, Prefer UUID as it is more secure!
    # Each value on a new line with the example format provided. (please delete the default values)
    S:"Journeymap Server Admins" <
        799f02b5-4c88-43ac-bfa6-5bb05f2ab3bb
        30fdf3c4-b46c-4f65-a3f9-b320fa04bfb9
        618ee464-df5b-47f2-bd7b-ad07aec1a2e7
        230a2d5f-1219-47ea-adb8-bccdc5751fdd
        6e2bc78b-fca4-4a1e-bcae-48dd337d2ecc
        6cc96112-9509-421f-b448-870016c4fc15
     >

    # Default, all Ops have access to Server Admin UI in the Options screen.
    # If set to false, only users in the Admin List will have access.
    # If set to true, all ops and users in the Admin List will have access.
    B:"Ops Admin Access"=true
}


